.main {
  @apply p-0 m-0;

  &__wrapper {
    &.container {
      @apply p-0;
    }
  }

  &__container {
    @apply max-w-screen-sm lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl  w-full m-auto p-3 lg:p-8 xl:p-3;
  }

  &-title {
    @apply w-max text-2xl lg:text-3xl tracking-wide;

    &.border-accent {
      &::after {
        @apply mt-6 mx-auto;
      }

      &.left {
        &::after {
          @apply ml-0;
        }
      }
    }
  }
}

.border-accent {
  &::after {
    @apply block h-1.5 w-16 mt-2  bg-red-700;
    content: '';
  }
}

.languages {
  @apply flex pt-8 md:pt-0;
  &__group {
    @apply flex gap-1.5;
  }
  &__item {
    @apply cursor-pointer;
    &.active {
      @apply font-bold;
    }
  }
}

.home {
  &__gallery,
  &__blog,
  &__product {
    @apply py-20;
    &-body {
      @apply grid grid-cols-1 md:grid-cols-2 gap-8;
    }
  }

  &__banner {
    .banner {
      height: 8rem !important;
      @screen sm {
        height: 100% !important;
      }
      // @screen lg {
      //   height: 22rem !important;
      // }
      // @screen xl {
      //   height: 30rem !important;
      // }
      // @screen 2xl {
      //   height: 41rem !important;
      // }
      // @screen 2xl {
      //   height: 67rem !;
      // }
      &.v-card {
        @apply p-0;
      }

      &__title {
        @apply w-full md:w-2/3;
        &.v-card__title {
          @apply justify-center;
        }
      }

      &__subtitle {
        &.v-card__subtitle {
          @apply m-0 sm:mt-4;
        }
      }
    }
    .carousel__banner {
      .v-image {
        height: 100% !important;
      }
      button {
        @apply bg-transparent;
      }
      .v-carousel__controls__item {
        @apply bg-transparent;
        .v-icon {
          font-size: 3.5rem !important;
          opacity: 1 !important;
        }
        &.v-btn--active {
          @apply text-transparent;
          .v-icon {
            @apply text-red-700;
          }
        }
      }
      .v-item-group {
        @apply sm:pb-12;
      }
    }
  }

  &__blog {
    @apply bg-gray-100;

    &-body {
      @apply md:gap-16 px-4 md:px-0;
    }

    &-description {
      @apply w-3/4 m-auto text-center;
    }

    &-action {
      @apply text-center;
    }
  }

  &__about {
    @apply relative;
    .main__container {
      @apply max-w-none xl:max-w-screen-xl 2xl:max-w-screen-2xl p-0 md:p-3;
    }
    &-body {
      @apply w-full ml-auto space-y-12 mb-12;
    }

    &-background {
      @apply hidden md:block absolute w-full;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .about {
      &__overview {
        &-body {
          @apply h-full flex flex-col content-end justify-end text-white p-2 sm:p-6 space-y-2;
        }
        &-title {
          &.v-card {
            &__title {
              @apply uppercase text-lg sm:text-2xl;
              text-shadow: 0.5px 0.5px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
                -1px 1px 0 #000, 1px 1px 0 #000;
            }
          }
        }
        &-description {
          &.v-card {
            &__text {
              @apply hidden sm:block;
              text-shadow: 0.5px 0.5px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
                -1px 1px 0 #000, 1px 1px 0 #000;
            }
          }
        }
      }
    }
  }

  &__product {
    .border-accent {
      &::after {
        @apply content-end mx-0;
      }
    }
    @apply text-center;

    .carousel {
      &__product {
        &-navigation {
          &__button {
            &.v-btn {
              @apply border-gray-100;
              min-width: fit-content !important;
              padding: 1rem 0.25rem !important;
            }
          }
        }
      }
    }
  }
}

.about {
  @apply mb-40;
  &__wrapper {
    @apply space-y-20;
  }
  &__head {
    @apply space-y-12;
  }
  &__body,
  &__content {
    @apply space-y-28;
  }
  &__description {
    @apply md:w-3/5 space-y-10;
  }
  &__action {
    @apply space-y-4;
  }

  &__card {
    height: min-content;
    &-list {
      @apply grid gap-10;
    }
    .v-card {
      &__title {
        @apply font-bold;
      }
    }
  }

  &__plugin {
    @apply space-y-12;
    &-title {
      @apply md:w-1/3 text-xl md:text-2xl;
    }
    &-content {
      @apply w-full;

      height: 20rem;
      @screen md {
        height: calc(100vh - 20vh);
      }
      iframe,
      .GMap,
      .GMap__Wrapper {
        @apply w-full h-full;
      }
    }
  }
}

.contact {
  @apply relative lg:h-screen mt-20 pb-20 lg:pb-0;
  margin-bottom: -2rem;
  &__body {
    @apply relative z-10  lg:flex justify-between space-y-20 lg:space-y-0;
  }
  &__info {
    @apply space-y-20;
    &-list {
      @apply grid md:grid-cols-2 gap-8;
    }
    &-item {
      @apply space-y-2;
    }
    &-title {
      @apply font-bold uppercase tracking-wider;
    }
    &-value {
      @apply md:w-2/3;
    }

    &-action {
      .v-btn {
        @apply font-semibold;
      }
    }
  }
  &__form {
    @apply lg:w-2/3 lg:max-w-xl m-auto;
    &-title {
      @apply text-xl uppercase pb-8;
    }
    &-card {
      @apply p-8;
    }
  }
  &__background {
    @apply absolute h-screen w-full bottom-0;
    .v-image {
      @apply h-full w-full;
    }
  }
}

.dealer {
  @apply h-full lg:h-screen relative;
  margin-bottom: -2rem;

  @screen lg {
    margin-bottom: -7rem;
  }

  &__wrapper {
    @apply lg:flex items-center justify-center;
    height: 100%;
    @screen lg {
      height: calc(100vh - 5rem);
    }
  }

  &__menu {
    @apply h-full lg:max-w-lg py-8 bg-black text-white;
    @screen md {
      width: 32rem;
    }
  }

  &__filter {
    @apply p-6;
    input {
      @apply text-white;
    }
  }

  &__list {
    @apply h-96 lg:h-5/6 mr-2 p-6 pt-0 space-y-6 overflow-auto;
  }

  &__item {
    @apply cursor-pointer;
  }

  &__subtitle {
    @apply font-semibold uppercase text-red-700 text-sm tracking-wide;
  }

  &__title {
    @apply py-2 text-lg;
  }

  &__address {
    @apply max-w-lg opacity-80;
  }

  &__map {
    @apply w-full h-96 lg:h-full;
    .GMap,
    .GMap__Wrapper {
      @apply w-full h-full;
    }

    &-info {
      @apply space-y-4;
      &__title {
        @apply text-base font-semibold;
      }
    }
  }
}

.product {
  @apply relative md:mt-20 pb-20 lg:pb-0;
  &-wrapper {
    @apply md:flex justify-center m-4 gap-40;
  }
  &__content {
    @apply w-full space-y-8;
  }
  &__head {
    @apply md:flex justify-between items-center space-y-12 md:space-y-0;
  }
  &__body {
    @apply md:my-16 space-y-16;
  }
  &__list {
    @apply grid grid-cols-2 md:grid-cols-4 gap-6;
  }
  &__title {
    &.v-card__title {
      @apply break-normal;
    }
  }
  &__category {
    @apply mt-4 md:mt-0 space-y-8 min-w-max;
    &-title {
      @apply uppercase font-bold tracking-widest;
    }
    &-item {
      .v-input--selection-controls {
        .v-label {
          @apply text-black;
        }
      }
    }
  }
  &__sort {
    @apply md:w-1/5;
  }
  &-detail {
    @apply my-12 md:my-16;
    &__wrapper {
      @apply grid justify-items-center lg:justify-between lg:mx-20 lg:gap-40;
      @screen lg {
        grid-template-columns: auto 1fr;
      }
    }

    &__preview {
      @apply space-y-10;

      .v-subheader {
        padding: 0 !important;
      }

      .v-btn {
        @apply absolute top-4 md:top-8;
      }
      .lingallery {
        @apply space-y-4;
        &_thumbnails_content {
          @apply space-x-4;
        }
        &_thumbnails_content_elem {
          img {
            height: 7rem;
            width: 7rem;
          }
        }
      }
    }

    &__head {
      @apply space-y-3.5;
    }

    &__body {
      @apply space-y-10 md:space-y-8;
    }

    &__action {
      @apply space-y-8;
      &-group {
        @apply md:grid grid-cols-2 gap-8 space-y-8 md:space-y-0;
        // .v-btn {
        //   @apply w-full md:w-min;
        // }
      }
    }

    &__content {
      @apply w-full 2xl:w-3/4 my-10 space-y-8;
    }

    &__features {
      @apply space-y-1.5;
    }

    &__panels {
      @apply my-12 md:my-0;
      .v-expansion-panels {
        @apply border-b border-t divide-y;
      }
    }

    &__colors {
      @apply flex items-center gap-3;
      .product__color-item {
        @apply h-7 w-7 cursor-pointer;

        // &.active {
        //   @apply border-4 border-double;
        // }
      }
    }

    &__title {
      @apply uppercase font-semibold tracking-wide;
    }

    &__name {
      @apply text-2xl lg:text-3xl tracking-wide font-bold;
    }

    &__related {
      @apply flex flex-col justify-center items-center space-y-12 mt-20 lg:mx-28;
      &-title {
        @apply text-lg font-semibold uppercase;
      }
      &-list {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5;
      }
    }
  }
}

.gallery {
  @apply relative md:mt-20 pb-20 lg:pb-0;
  &-wrapper {
    @apply m-4 space-y-20;
  }

  &__head {
    @apply md:flex items-center justify-between space-y-12 md:space-y-0;
  }

  &__filter {
    @apply md:w-2/6 md:flex justify-end gap-4;
  }

  &__list {
    @apply grid grid-cols-2 md:grid-cols-4 gap-4;
  }

  &__empty {
    @apply flex items-center h-40 justify-center;
  }

  &-detail {
    &__banner {
      @apply absolute w-full top-0;
      filter: brightness(0.3);
      .v-responsive__sizer {
        height: 30rem;
      }
    }

    &__wrapper {
      @apply relative my-8 md:my-20;
    }

    &__content {
      @apply space-y-16 py-16 pt-40 md:pt-16;
    }

    &__head {
      @apply text-center text-white;
    }

    &__body {
      @apply max-w-screen-xl space-y-20 md:space-y-40 m-auto;
    }

    &__title {
      @apply text-4xl lg:text-5xl font-semibold tracking-wider uppercase;
    }

    &__subtitle {
      @apply text-lg text-red-700 font-semibold uppercase;
    }

    .lingallery_thumbnails_content {
      @apply grid grid-cols-2 md:block pt-4 md:space-x-4 gap-4 md:gap-0;
      &_elem {
        img {
          width: 180px;
          max-height: 6rem;
          object-fit: cover;
        }
      }
    }

    .lingallery {
      figure {
        @apply bg-gray-100;
        img {
          margin: auto !important;
          max-height: 100% !important;
          height: 100% !important;
        }
        @screen sm {
          img {
            min-height: 21rem !important;
          }
        }
        @screen xl {
          img {
            min-height: 720px !important;
          }
        }
      }
    }

    &__card {
      @apply flex bg-gray-300;
      height: 100% !important;
      @screen md {
        height: 350px !important;
      }

      &-image {
        min-width: 300px !important;
        width: 300px !important;
        height: 300px !important;
      }

      .v-list-item {
        display: block !important;
        @screen md {
          display: flex !important;
        }
      }

      .v-card__actions {
        @apply space-y-4 md:space-y-0 my-6 md:my-0;
        display: block !important;
        @screen md {
          display: flex !important;
        }
        .v-btn {
          margin-left: 0 !important;
        }
      }

      &-body {
        &.v-list-item__content {
          @apply p-4 md:p-8 my-8 md:my-20 md:mx-8 shadow-lg;
          flex: auto !important;
        }
      }
    }

    .wheel__color {
      @apply justify-start;
    }
  }
}

.blog {
  @apply relative md:mt-20 pb-20 lg:pb-0;
  &-wrapper {
    @apply space-y-20 my-4 md:my-0 md:m-4 gap-40;
  }
  &__head {
    @apply flex justify-center items-center;
    .border-accent {
      &::after {
        margin-left: auto !important;
      }
    }
  }
  &__list {
    @apply space-y-12;
  }
  &__overview {
    .v-card {
      // @apply md:space-x-8;
      @screen md {
        display: flex !important;
      }
    }
    &-image {
      min-width: 100% !important;
      width: 100% !important;
      height: 200px !important;
      @screen md {
        min-width: 200px !important;
        width: 200px !important;
      }
      margin-right: 0 !important;
    }
  }

  &-detail {
    &__head {
      @apply text-center space-y-4;
    }
    &__title {
      @apply font-bold text-2xl lg:text-3xl;
    }
    &__subtitle {
      @apply uppercase text-sm tracking-widest;
    }
    &__content {
      @apply py-20 space-y-16 md:space-y-20;
    }
    &__footer {
      @apply text-center md:text-left;
    }
    &__navigation {
      padding: 0 !important;
    }
  }
}
