// // Variables
// @import "variables/functions";
// @import "variables/colors";
// @import "variables/breakpoints";
// @import "variables/typography";
// @import "variables/layout";

// // Mixins
// @import "base/mixins";

// // Global
@import 'base/global';

// Components
@import 'components/banner';
@import 'components/gallery';
// Custom
@import 'base/custom';

// Layouts
@import 'layouts/navigation';
@import 'layouts/footer';

// Vendor
