.nav {
  // @apply py-2;
  &__brand {
    @apply opacity-100 w-1/2 md:w-3/4 lg:ml-2 py-2 lg:w-4/5;
  }

  &__menu {
    @apply lg:py-4 px-2 w-max lg:text-base;

    &-humburger {
      .vs-button__content {
        @apply p-1;
      }
    }
  }

  &__mobile {
    position: relative;
    z-index: 1000;
    &-menu {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 5;
      overflow: hidden;
    }
  }

  &__item {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
    @apply text-white;
  }

  @for $i from 1 through 5 {
    &__item:nth-child(#{$i}) {
      transform: translateY(-40px * $i);
    }
  }

  &__link {
    @apply text-xl font-semibold;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1rem;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      outline: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .vs-navbar {
    height: 9vh;
  }

  .splash {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 1px;
    height: 1px;
    z-index: 1;

    &::after {
      @apply bg-yellow-500 opacity-90;
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;

      // screen diameter can be 142vmax at most,
      // circle needs to be twice that size to cover it
      width: 284vmax;
      height: 284vmax;
      top: -142vmax;
      left: -142vmax;

      transform: scale(0);
      transform-origin: 50% 50%;
      transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);

      // will-change tells the browser we plan to
      // animate this property in the near future
      will-change: transform;
    }
  }

  .menuicon {
    display: block;
    cursor: pointer;
    color: white;

    transform: rotate(0deg);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

    &__bar,
    &__circle {
      fill: none;
      stroke: currentColor;
      stroke-width: 3;
      stroke-linecap: round;
    }
    &__bar {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
      transition: transform 0.25s ease-in-out;
    }
    &__circle {
      transition: stroke-dashoffset 0.3s linear 0.1s;
      stroke-dashoffset: circumference(23); // 23 is the <circle>'s radius
      stroke-dasharray: circumference(23);
    }
  }

  &__active {
    .nav {
      &__mobile {
        &-menu {
          visibility: visible;
        }
      }

      &__item {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .splash::after {
      transform: scale(1);
    }

    .menuicon {
      color: white;
      transform: rotate(180deg);

      &__circle {
        stroke-dashoffset: 0;
      }
      &__bar:nth-child(1),
      &__bar:nth-child(4) {
        opacity: 0;
      }
      &__bar:nth-child(2) {
        transform: rotate(45deg);
      }
      &__bar:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}
